.creerpersonnage {
    flex: 4;
}

.creerpersonnageForm {
    display: flex;
    flex-wrap: wrap;
}

.creerpersonnageItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.creerpersonnageItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.creerpersonnageItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.creerpersonnageGender > input {
    margin-top: 15px;
}

.creerpersonnageGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.creerpersonnageSelect{
    height: 40px;
    border-radius: 5px;
}

.creerpersonnageButton{
    width: 200px;
    border: none;
    background-color: #8f3c3c;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.flexbox-container{
    display: flex;
    justify-content: center;
}
.flexbox-item-1{

    width: 100px;

    margin: 50px;
    border: 3px solid#333;
    background-color: steelblue;

}