.creerpersonnage{
    flex: 4;
}
.titre {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 1500;
    color: #500404;
    text-shadow: 3px 3px 20px rga(0,0,0,9);

}