.Supprimmerpersonnage{
    flex: 4;
}

.search {

    padding: 10px;
    font-size: 20px;
}
.supprimerpersonnageButton{
    width: 200px;
    border: none;
    background-color: steelblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.flexbox-container{
    display: flex;
    justify-content: center;
}
.flexbox-item-1{

    width: 400px;

    margin: 50px;
    border: 3px solid#333;
    background-color: steelblue;
}
.flexbox-item-1{
    min-height:  800px;
}